/* Calendar container */
.calendar {
    margin: 3rem auto;
    width: 80%;
    max-width: 80vw;
    border-radius: 6px;
    background-color: #38015c;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    font-size: 40px;
}

/* Heading */
.calendar h1 {
    text-align: center;
    color: #38015c;
}

.navigationButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
}

/* Navigation chart */
.timeNavigation {
    margin: 1rem 2.5%;
    text-align: center;
    align-content: center;
}

/* Label */
label {
    display: block;
    color: #38015c;
    font-weight: bold;
    margin-top: 0.5rem;
}

/* Scrollbar for the calendar */
.calendar ::-webkit-scrollbar {
    width: 12px;
}

.calendar ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #873abb;
}

.calendar ::-webkit-scrollbar-track {
    border-radius: 0px 8px 8px 0px;
    background-color: #ae82cc;
    border: 1px solid #ffffff;
}

.scheduleSwitch {
    display: flex;
    justify-content: space-between;
    margin: 0 auto !important;
    text-align: center;
    align-content: center;
    font-weight: bold;
    color: #873abb;
    width: 300px !important;
    border: 2px solid #873abb;
    border-radius: 5px;
    background-color: #f1e1fc;
}

.scheduleSwitch .MuiFormGroup-label {
    font-size: 20px;
    font-weight: bold;
    color: #9f5ccc;
}