.report {
  margin: 3rem auto;
  width: auto;
  max-width: 65rem;
  border-radius: 6px;
  background-color: #38015c;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}

.report h1 {
  text-align: center;
  color: #38015c;
}

.chart {
  display: flex;
  margin: 3rem 25%;
  text-align: center;
  align-content: center;
}

label {
  display: block;
  color: #38015c;
  font-weight: bold;
  margin-top: 0.5rem;
}


